.status-bar {
  display: flex;
  justify-content: space-between;
  color: #656565;
  position: fixed;
  width: 100%;
  border-top: 1px solid #f7f7f7;
}

.status-bar i {
  font-size: 15px;
}

.status-bar .status-bar__bettery-level {
  margin-left: 5px;
}
